{% load i18n %}
<!-- TODO: Replace by default edit view once available in Studio -->
<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
  <script id="metadata-editor-tpl" type="text/template">// JS crashes when empty //</script>
  <ul class="list-input settings-list">
  
      <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="edit_display_name">{% trans "Title" %}</label>
            <input class="input setting-input edit-display-name" id="edit_display_name" value="{{ self.display_name }}" type="text">
          </div>
          <span class="tip setting-help">{{self.fields.display_name.help}}</span>
      </li>
      <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="video_id">{{self.fields.id_video.display_name}}</label>
            <input class="input setting-input" id="video_id" value="{{self.id_video}}" type="text">
          </div>
          <span class="tip setting-help">{{self.fields.id_video.help}}</span>
      </li>
      <li class="field comp-setting-entry metadata_entry is-set">
           <div class="wrapper-comp-setting">
                <label for="allow_download_video" class="label setting-label">{{self.fields.allow_download_video.display_name}}</label>
                <select name="Video Download Allowed" id="allow_download_video" class="input setting-input">
                   <option value="True" {% if self.allow_download_video %}selected{%endif%}>{% trans "Yes" %}</option>
                   <option value="False" {% if not self.allow_download_video %}selected{%endif%}>{% trans "No" %}</option>
                </select>
            </div>
            <span class="tip setting-help">{{self.fields.allow_download_video.help}}</span>
       </li>
       <li class="field comp-setting-entry metadata_entry is-set">
           <div class="wrapper-comp-setting">
                <label for="dmcloud_player_video" class="label setting-label">{{self.fields.player.display_name}}</label>
                <select name="Player Video" id="dmcloud_player_video" class="input setting-input">
                   <option value="HTML5" {% if self.player == "HTML5" %}selected{%endif%}>{% trans "HTML5" %}</option>
                   <option value="Dailymotion" {% if self.player == "Dailymotion" %}selected{%endif%}>{% trans "Dailymotion" %}</option>
                </select>
            </div>
            <span class="tip setting-help">{{self.fields.player.help}}</span>
       </li>
  </ul>
  <div class="xblock-actions">
    <span class="xblock-editor-error-message"></span>
    <ul>
      <li class="action-item">
        <a href="#" class="button action-primary save-button">{% trans "Save"%}</a>
      </li>

      <li class="action-item">
        <a href="#" class="button cancel-button">{% trans "Cancel"%}</a>
      </li>
    </ul>
  </div>
</div>