{% load i18n %}
<!-- TODO: Replace by default edit view once available in Studio -->
<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
  <script id="metadata-editor-tpl" type="text/template">// JS crashes when empty //</script>
  <ul class="list-input settings-list">
      <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="edit_display_name">{% trans "Title" %}</label>
            <input class="input setting-input edit-display-name" id="edit_display_name" value="{{ self.display_name }}" type="text">
          </div>
          <span class="tip setting-help">{% trans "The title of the video that is displayed to the user" %}</span>
      </li>
      <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="video_id">{% trans "Video ID"%}</label>
            <input class="input setting-input" id="video_id" value="{{self.id_video}}" type="text">
          </div>
          <span class="tip setting-help">{% trans "Fill this with the ID of the video found on DM Cloud"%}</span>
      </li>
    <li class="field comp-setting-entry metadata_entry is-set">
           <div class="wrapper-comp-setting">
                <label for="allow_download_video" class="label setting-label">{% trans "Video Download Allowed" %}</label>
                <select name="Video Download Allowed" id="allow_download_video" class="input setting-input">
                   <option value="True" {% if self.allow_download_video %}selected{%endif%}>{% trans "Yes" %}</option>
                   <option value="False" {% if not self.allow_download_video %}selected{%endif%}>{% trans "No" %}</option>
                </select>
            </div>
            <span class="tip setting-help">{% trans "Show a link beneath the video to allow students to download the video." %}</span>
       </li>
  </ul>
  <div class="xblock-actions">
    <span class="xblock-editor-error-message"></span>
    <ul>
      <li class="action-item">
        <a href="#" class="button action-primary save-button">{% trans "Save"%}</a>
      </li>

      <li class="action-item">
        <a href="#" class="button cancel-button">{% trans "Cancel"%}</a>
      </li>
    </ul>
  </div>
</div>