/* CSS for DmCloud */
#subtitle {
    width:49%;
    float:right;
    height:360px;
    overflow-y:auto;
}
#subtitle span.current {
    color:red;
}
#subtitle span {
    cursor:  pointer;
}
.videoplayer{
    width:100%;
}
    