/* CSS for DmCloud */
.subtitle {
    width:49%;
    float:right;
    height:360px;
    overflow-y:auto;
    display:none;
}
.subtitle span.current {
    color:red;
    font-weight:bold;
}
.subtitle span {
    cursor:  pointer;
}
.videoplayer{
    width:100%;
}
    